@import 'src/style/helpers';

.active{
	background: rgba(255,255,255,0.3);
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: #000;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	z-index: 50;

	nav {

		display: table;
		width: 100%;

		.link{
      width: 20%;
      display: table-cell;
      text-align: center;
		}

		.text{
			font-size: 13px;
			line-height: 1.5;
			@media (max-width: 640px){
				display: none;
			}
		}

		i{
      font-size: 24px;
		}

		a {
      position: relative;
			display: block;
			padding: .9em 0em;
      color: #fff;
      text-decoration: none;
			will-change: background-color;

			&:hover, &:active {
				background: rgba(255,255,255,0.3);
			}
		}
	}
}
